<h1>Your result:</h1>
<ul>
  <li>Attempt: <%= @attempt%></li>
  <li>Time: <%= @result[:time]%></li>
  <li>Message: <%= @result[:message]%></li>
  <li>Score: <%= @result[:score]%></li>
</ul>

<%= link_to("Try again", new_path) %>
